<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>消防管理系统</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Echart 扩展 -->
    <script src="../static/js/echarts.min.js"></script>
    <link rel="stylesheet" href="../static/css/basic_style.css" />
  </head>

  <body style="background-repeat: repeat">
    <nav class="navbar navbar-expand-sm bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <span id="openvideo" class="headline">消防管理系统</span>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <!-- 这里添加了 ms-auto 类 -->
            <li class="nav-item">
              <a class="nav-link" href="/home">展示</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/equipment">设备管理</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >人员管理</a
              >
            </li>
          </ul>
          <a href="{{ url_for('auth.logout') }}" class="btn btn-light ms-5"
            >注销</a
          >
        </div>
      </div>
    </nav>

    <div class="container w-50 mt-5 bg-light">
      <ul class="list-group">
        <!-- 遍历渲染用户列表 -->
        {% for user in user_list %}
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          {{ user.username }}
          <div>
            <!-- 删除用户按钮 -->
            <form
              action="{{ url_for('admin.delete_user', user_id=user.id) }}"
              method="post"
              onsubmit="return confirm('确定删除该用户吗？');"
            >
              {% if user.username == 'admin' %}
              <button type="submit" class="btn btn-danger btn-sm" disabled>
                删除
              </button>
              {% else %}
              <button type="submit" class="btn btn-danger btn-sm">删除</button>
              {% endif %}
            </form>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <script src="../static/js/bootstrap.bundle.min.js"></script>

    <script src="../static/js/jquery-3.7.1.min.js"></script>
  </body>
</html>
