<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>消防管理系统</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <script src="../static/echarts.min.js"></script>
    <link rel="stylesheet" href="../static/basic_style.css">
</head>

<body style="background-repeat: repeat;">

    <nav class="navbar navbar-expand-sm bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <span id="openvideo" class="headline">消防管理系统</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto"> <!-- 这里添加了 ms-auto 类 -->
                    <li class="nav-item">
                        <a class="nav-link" href="/home">展示</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">设备管理</a>
                    </li>
                    {% if current_username == "admin" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin.admin') }}">人员管理</a>
                    </li>
                    {% endif %}
                </ul>
                <a href={{ url_for('auth.logout') }} class="btn btn-light ms-5">注销</a>
            </div>
        </div>
    </nav>

    <div class="container w-50 mt-5 bg-light">
        <ul class="list-group">
            <!-- jinjia2渲染eq_list -->
            {% for eq in eq_list %}
            <form class="row g-3 w-100 m-2 eqForm" action="/eq_status" method="post">
                <div class="col-auto w-25">
                    <label for="staticEmail2" class="visually-hidden">name</label>
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="{{ eq.name }}">
                    <!-- 隐藏的 input 元素，用于提交 eq_id -->
                    <input type="hidden" name="eq_id" value="{{ eq.id }}">
                </div>
                <div class="col-auto w-50">
                    <select class="form-select" aria-label="Default select example" name="new_status" required>
                        <option selected disabled>{{ status_map[eq.status] }}</option>
                        {% if eq.status == 0 %}
                        <option value="1">{{ status_map[1] }}</option>
                        {% elif eq.status == 1 %}
                        <option value="0">{{ status_map[0] }}</option>
                        {% endif %}
                    </select>
                </div>
                <div class="col-auto w-25">
                    <button type="submit" class="btn btn-primary mb-3">提交修改</button>
                </div>
            </form>
            {% endfor %}
        </ul>
    </div>

    <script src="../static/bootstrap.bundle.min.js"></script>
    <script src="../static/jquery-3.7.1.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // 获取所有具有 'eqForm' 类名的表单
            const forms = document.querySelectorAll('.eqForm');

            // 遍历每个表单
            forms.forEach(function (form) {
                // 获取当前表单中的选择框和提交按钮
                const selectElement = form.querySelector('.form-select');
                const submitButton = form.querySelector('.btn-primary');

                // 初始化时禁用提交按钮
                submitButton.disabled = true;

                // 监听选择框变化事件
                selectElement.addEventListener('change', function () {
                    // 如果选择框有选中的选项，启用提交按钮，否则禁用提交按钮
                    if (selectElement.value !== '') {
                        submitButton.disabled = false;
                    } else {
                        submitButton.disabled = true;
                    }
                });
            });
        });
    </script>

</body>

</html>