<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>消防管理系统</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <!-- Echart 扩展 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="../static/basic_style.css">

</head>

<body style="overflow:hidden;background:url(../static/bg.jpg);background-repeat: repeat;">

<!-- <body style="background:url(../static/bg.jpg);background-repeat: repeat;"> -->

    <nav class="navbar navbar-expand-sm bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a id="openvideo" class="headline" href="index.html">消防管理系统</a>
            <!-- <a class="navbar-brand" href="#">消防管理系统</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto"> <!-- 这里添加了 ms-auto 类 -->
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">展示</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="equipment.html">设备管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="admin.html">人员管理</a>
                    </li>
                </ul>
                <a href={{ url_for('auth.logout') }} class="btn btn-light ms-5">注销</a>
            </div>
        </div>
    </nav>
    <div class="row mt-3">

        <div class="col-md-3 ">
            <div class="lbox nei">
                <div class="spa-ico" style="width:160px;height:30px;">
                    <span style="color: white;font-weight: bolder;text-align: center;font-size:16px;line-height:30px;">
                        <i class="fa fa-tasks" aria-hidden="true"></i>一氧化碳浓度<span>

                </div>
                <div id="echartsDiv1" style="width:100; height: 40vh;"></div>

            </div>
            <div class="lbox nei">
                <div class="spa-ico" style="width:160px;height:30px;">
                    <span style="color: white;font-weight: bolder;text-align: center;font-size:16px;line-height:30px;">
                        <i class="fa fa-tasks" aria-hidden="true"></i>最高温度<span>

                </div>
                <div id="echartsDiv2" style="width:100;height: 40vh"></div>

            </div>

        </div>
        <div class="col-sm-6">
            <div class="lbox nei">
                <div class="spa-ico" style="width:280px;height:30px;">
                    <span style="color: white;font-weight: bolder;text-align: center;font-size:16px;line-height:30px;">
                        <i class="fa fa-tasks" aria-hidden="true"></i>灭火装置分布情况<span>
                </div>
                <div id="echartsDiv3" style="width:100%;height: 85vh"></div>

            </div>
        </div>

        <div class="col-md-3 ">
            <div class="lbox nei">
                <div class="spa-ico" style="width:160px;height:30px;">
                    <span style="color: white;font-weight: bolder;text-align: center;font-size:16px;line-height:30px;">
                        <i class="fa fa-tasks" aria-hidden="true"></i>设备功率<span>

                </div>
                <div id="echartsDiv4" style="width:100%; height: 85vh;"></div>

            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        <script src="../static/jquery-3.7.1.min.js"></script>
        <script src="../static/charts.js"></script>
</body>

</html>